<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.simple.model.mapper.BoardMapper">

	<!-- 보통은 com.ssafy.mybatis.model.BoardDto 이렇게 적어야 되는데 너무 길다. xml에서 alias로 별칭을 붙이면 짧게 적어도 됨 -->
												<!-- 데이터 insert 후, BoardDto에 할당된 autoincremet bno를 저장함 -->
	<insert id="insert" parameterType="BoardDto" useGeneratedKeys="true" keyProperty="bno">
	
		INSERT INTO BOARD_TB(BWRITER, BTITLE, BCONTENT, BWRITE_DATE)
		VALUES(#{bwriter}, #{btitle}, #{bcontent}, NOW())
		
	</insert>
	
	<select id="selectOne" resultType="BoardDto">
																		 <!-- 컬럼 명과 dto의 변수 명이 다를 때 해결방법  -->
		SELECT BNO, BWRITER, BTITLE, BCONTENT, BWRITE_DATE as bwriteDate <!-- 1. Dto와 이름이 다르기 때문에 alias로 싱크를 맞춰줌 -->
		FROM BOARD_TB
		WHERE BNO = #{bno}
	
	</select>
	
<!-- 	<select id="selectAll" resultMap="rrr">
	
		SELECT BNO, BWRITER, BTITLE, BCONTENT, BWRITE_DATE
		FROM BOARD_TB
	
	</select> -->
	
	<select id="selectAll" resultType="BoardDto">
	
		SELECT
		<include refid="ttt"/>
		FROM BOARD_TB
	
	</select>
	
	<resultMap type="BoardDto" id="rrr">	<!-- 테이블에서 DTO로 매핑 시 매핑 방식을 명시적으로 지정해줌  -->
		<result column="BWRITE_DATE" property="bwriteDate"/>
	</resultMap>
	
	<delete id="delete" parameterType="int">
	
		delete from board_tb where bno = #{bno}
	
	</delete>
	
	<sql id="ttt">
		BNO, BWRITER, BTITLE, BCONTENT, BWRITE_DATE as bwriteDate
	</sql>
</mapper>