<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.MemberMapper">

	<select id="selectOne" resultMap="mdto">
	
		<!-- select user_id as userId, user_name as userName -->
		select user_id, user_name
		from member_tb 
		where user_id = #{ii} and user_pw = #{pp}
	
	</select>
	
	<resultMap type="MemberDto" id="mdto">
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName"/>
	</resultMap>

</mapper>